.App {
  background-color: rgb(241, 241, 241)
}

.App-Header-Container {
  display: flex;
  justify-content: flex-end;
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-Entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
}

.Button {
  border: solid .01em black;
  border-radius: 3px;
  padding: 10px;
  min-width: 6em;
}

.Cancel {
  background-color: rgb(225, 225, 225);
}

.Delete {
  background-color: rgb(223, 87, 87);
}

.Action {
  background-color: rgb(96, 205, 209);
}

.Disabled {
  background-color: rgb(225, 225, 225);
  opacity: 0.7;
  cursor: not-allowed;
}
